/* Place here your specific styles for app.component */
.content {
  width: calc(100% - 320px);
  float: right;
  margin-top: 15px;
}

.text-success {
  color: #00AA00;
}

.text-danger {
  color: #AA0000;
}
